@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");
* {
  color: #dcdde1;
  box-sizing: border-box;
}
body {
  background-color: #2f3640;
  margin: 0px;
}
/* maintop:Rahmat Rafli */
.maintop {
  margin: 0;
  font-family: "Fredoka", Arial, sans-serif;
  border-bottom: 3px solid #747474;
}
.image-maintop {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/bg maintop.jpg");
  padding-top: 60px;
  padding-bottom: 82px;
}

.image-maintop .container {
  text-align: center;
  color: rgb(204, 204, 204);
  opacity: 1;
  margin: 100px;
}

.image-maintop .container h1 {
  font-size: 100px;
  margin-bottom: 10px;
}

.image-maintop .container .btn {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 24px;
  padding: 16px;
  color: white;
  border-radius: 5px;
  width: 90px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
}

.image-maintop .container .btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.image-maintop .container .mulai {
  background-color: red;
  font-family: "Fredoka", Arial, sans-serif;
  font-size: 14px;
  border: 1px solid red;
}

.image-maintop .container input[type="text"] {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  padding: 16px;
  width: 400px;
  font-family: "Fredoka", Arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
}
/* mainmid:Quadrant Barokatus Salam */
.mainmid {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: auto;
  border: #dcdde1;
  position: relative;
  transition: 0.5s;
}
.gbr img {
  width: 300px;
  height: 300px;
  border-radius: 25px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  transition: 0.5s;
}
.gbr img:hover {
  background: rgba(255, 255, 255, 0.6);
}
.contentmid h1 {
  float: left;
  text-align: left;
  width: 100%;
  font-size: 46px;
  transition: 0.5s;
}
.contentmid h2 {
  text-align: left;
  font-weight: normal;
  font-size: 30px;
  transition: 0.5s;
}
.contentmid {
  height: 100%;
  width: 52%;

  margin: 20px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
}
.title {
  margin-top: 10px;
  margin-bottom: 20px;
}
.card,
.card2 {
  min-height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #747474;
  border-top: 1px solid #747474;
  padding: 70px 200px 70px 200px;
  transition: 0.5s;
}
.card:hover,
.card2:hover {
  background-color: black;
  box-shadow: 10px 5px 40px 5px black;
}
.contentmid span {
  color: #e84118;
  transition: 1s;
}
.contentmid span:hover {
  color: #fcd2c7;
}
/* mainmid:Nur Filzah */
.footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  height: 250px;
}
.footer li {
  list-style: none;
  margin-bottom: 5px;
}
.footer-list p {
  color: red;
  padding-left: 40px;
}
.footer-about p {
  color: red;
  padding-left: 40px;
}
.footer-logo {
  float: left;
  height: auto;
  width: 250px;
  padding: 85px 35px;
  margin-left: 70px;
}
.footer-list {
  float: left;
  padding-top: 30px;
  padding-left: 30px;
}
.list-1 {
  float: left;
}
.list-1 li {
  margin-right: 10px;
  padding-bottom: 5px;
}
.list-2 {
  float: left;
}
.list-2 li {
  margin-right: 30px;
  padding-bottom: 5px;
}
.footer-about {
  float: right;
  padding-right: 130px;
  padding-top: 30px;
}
