body,
html,
h1,
h2,
h3,
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #dcdde1;
}
body{
    background-color: #2f3640;
}
.mainmid {
  background-color: #2f3640;
  width: auto;
  margin: 0 auto;
  border-top: #dcdde1 3px;
  border-bottom: #dcdde1 3px;
  text-align: center;
}
.mainmid img {
  float: right;
  box-sizing: border-box;
  width: 300px;
}
.content h1 {
  float: left;
}
.content h2 {
  float: left;
}
.content {
  float: left;
}
